[Unit]
Description=uWSGI instance to serve Donate-A-Mole
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/dam
Environment="PATH=/sw/miniconda2/envs/dam/bin"
ExecStart=/sw/miniconda2/envs/dam/bin/honcho start -e config.env -f Local

[Install]
WantedBy=multi-user.target
