{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
  <div class="Site-content ui text container">
        <h2>About</h2>
        <p>donate a mole is a citizen science project to improve early detection of melanoma. The incidence rates of melanoma in Australia is 12 times the global average, and it is the most common cancer in Australians aged 18 to 39 years.</p>

        <p>A citizen scientist is a person who helps researchers gather or interpret data, especially for large data sets that would have been impossible to collect or sift through in the past. We need your help to collect as many moles and their locations to create the hotspot map.</p>

        <p>The University of Queensland Dermatology Research Centre is a world leading team of researchers studying skin cancer. We aim to empower Australians to become citizen scientists by using the tool that everyone has in their back pocket, their mobile phone. By donating a mole, we hope to increase an awareness of skin cancer risk, while contributing to our world-renowned research program. The images will form an image database of moles and melanomas that will assist researchers in identifying melanoma hotspots.</p>
        
        <p>donate a mole is an open-source application developed at HealthHack Brisbane 2019.</p>

        <a href="{{ url_for('main.donate') }}">
            <div class="ui primary fluid button">donate a mole</div>
          </a>

          <footer style="text-align:center;margin-top:40px;margin-bottom:10px;">
                <a href="{{ url_for('main.privacy') }}">
                    <div id="footerBtnS" class="ui primary fluid button dam secondary">privacy policy</div>
                  </a>
            </footer>
    </div>

    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}
