{% import 'macros/page_macros.html' as page %}
{% import 'macros/form_macros.html' as f %}
{% extends 'layouts/base.html' %}

{% block content %}
  <div class="Site-content ui text container">
      <noscript>You need to enable JavaScript to run this app.</noscript>

      {% if form.errors %}
        {{ form.errors }}
      {% endif %}

      <div id="donateRoot">
          <h2>Hotspot your mole</h2>
      </div>
      
      {% set flashes = {
          'error':   get_flashed_messages(category_filter=['form-error']),
          'warning': get_flashed_messages(category_filter=['form-check-email']),
          'info':    get_flashed_messages(category_filter=['form-info']),
          'success': get_flashed_messages(category_filter=['form-success'])
      } %}

      {{ f.begin_form(form, flashes) }}

      <div class="hiddendiv">
          {{ f.render_form_field(form.image) }}
          {{ f.render_form_field(form.contact_research) }}
      </div>

      <div class="moletab 0">
        <h2>info</h2>
        {{ lipsum(2) }}
      </div>

      <div class="moletab 1">
        <h2>take a picture</h2>
        {{ lipsum(1) }}
        <img class="ui fluid" id="imgpreview" src="#" alt="Upload a mole to preview" />
      </div>

      <div class="moletab 2 bodyTab">
        
        {{ f.render_form_field(form.body_location) }}
        {{ f.render_form_field(form.body_image) }}
      </div>

      <div class="moletab 3">
        <h2>confirm</h2>
        {{ lipsum(1) }}
        {{ f.render_form_field(form.num_moles) }}
      </div>

      <div class="moletab 4">
        <h2>help us complete the picture</h2>
        {{ f.render_form_field(form.age) }}
        {{ f.render_form_field(form.sex) }}
        {{ f.render_form_field(form.geo_suburb) }}
        {{ f.render_form_field(form.geo_state) }}
        {{ f.render_form_field(form.ancestry) }}

      </div>

      <div class="moletab 5">
          <h2>almost there!</h2>

          {{ f.render_form_field(form.personal_history) }}
          {{ f.render_form_field(form.family_history) }}
          {{ f.render_form_field(form.pathology) }}
          {{ f.render_form_field(form.number_naevi) }}
  
        </div>

      <div class="moletab 6">
        <h2>consent</h2>
        {{ lipsum(1) }}
      </div>

      <div class="moletab 7">
        <h2>consent</h2>
        {{ lipsum(1) }}
        {{ f.render_form_field(form.name) }}
        {{ f.render_form_field(form.dob) }}
        {{ f.render_form_field(form.email) }}
      </div>

      <div class="moletab 8">
        <h2>thank you</h2>
        {{ lipsum(1) }}
        <h4>share</h4>
      </div>

      {{ f.end_form(form) }}
          
    </div>
  </div>

  <div id="status-area"></div>
  <footer style="text-align:center;margin-top:40px;margin-bottom:10px;">
    <div class="ui text container">
        <button id="footerBtnSec" onclick="nextProcessSec()" class="ui primary fluid button">Next</button>
      <button id="footerBtn" onclick="nextProcess()" class="ui primary fluid button">Next</button>
    </div>
  </footer>
  <!-- Circles which indicates the steps of the form: -->
  <footer style="text-align:center;margin-top:10px;margin-bottom:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </footer>
<!-- jquery flash message hack -->
<script>
    (function($) {
      $.fn.flash_message = function(options) {
        
        options = $.extend({
          text: 'Done',
          time: 1000,
          how: 'before',
          class_name: ''
        }, options);
        
        return $(this).each(function() {
          if( $(this).parent().find('.flash_message').get(0) )
            return;
          
          var message = $('<span />', {
            'class': 'flash_message ' + options.class_name,
            text: options.text
          }).hide().fadeIn('fast');
          
          $(this)[options.how](message);
          
          message.delay(options.time).fadeOut('normal', function() {
            $(this).remove();
          });
          
        });
      };
  })(jQuery);
</script>

<script>
  var currentTab = 0; // Current tab is set to be the first tab (0)
  prepTab(currentTab); // Display the current tab
  var footerBtnSecHidden = true;

  function attachImageChange() {
    $('#image').on("change", function(){ 
      console.log("image on change");
      var testImage = $('#image').val();
      if (testImage) {
        resetImage = false;
        $("#footerBtn").html('submit photo');
        $("#footerBtnSec").html('retake photo');
        if (footerBtnSecHidden) {
          $("#footerBtnSec").transition('fade', '500ms');
          footerBtnSecHidden = false;
        }
      }
    });
  }

  attachImageChange();

  $('.locatorImage').on('click', function(){ 
    console.log("locatorImage on click");
    var molePointer = document.querySelector(".pointer");
      molePointer.style.display = "block";
  });

  var resetImage = true;

  function nextProcessSec() {
    switch (currentTab) {
      case 1:
        $('#image').trigger('click'); 
        break
      case 3:
        resetImage = true;
        $('#body_location').removeAttr('value');
        $('#imgpreview').removeAttr('src');
        
        var molePointer = document.querySelector(".pointer");
        //molePointer.style.display = "none";
        
        $("#footerBtn").html('photo of your mole');
        $("#footerBtnSec").transition('fade', '500ms');
        footerBtnSecHidden = true;
        
        nextPrev(-2)
        break
      case 6:
        $('.ui.form').submit();
        $("#footerBtn").html('return home');
        $("#footerBtnSec").transition('fade', '500ms');
        footerBtnSecHidden = true;
        nextPrev(2)
        break
    }
  }

  function nextProcess() {
    console.log("currentTab: " + currentTab);
    switch (currentTab) {
      case 0:
        $("#footerBtn").html('photo of your mole');
        nextPrev(1)
        break
      case 1:
        if (resetImage) {
          $('#image').trigger('click');
        } else {
          $("#footerBtn").html('confirm mole hotspot');
          $("#footerBtnSec").transition('fade', '500ms');
          footerBtnSecHidden = true;
          nextPrev(1)          
        }
        break
      case 2:
        var bLoc = $("#body_location").val();
        if (bLoc) {
          console.log("bloc: " + bLoc);
          $("#donateRoot").transition('horizontal flip', '100ms');
          $("#footerBtn").html('proceed');

          $("#footerBtnSec").html('donate another mole');
          $("#footerBtnSec").transition('fade', '500ms');
          footerBtnSecHidden = false;

          nextPrev(1);
        } else {
          $('#status-area').flash_message({
            text: 'Please select a mole location',
            how: 'append'
        });
      }
        break
      case 3:
        $("#footerBtnSec").transition('fade', '500ms');
        footerBtnSecHidden = true;

        $("#footerBtn").html('next');
        nextPrev(1)
        break
      case 4:
        var ageVal = $("#age").val(); 
        if ((ageVal) && ($.isNumeric(ageVal)) && (ageVal>=18)) {
          $("#footerBtn").html('next');
          nextPrev(1)
        } else if ((ageVal) && ($.isNumeric(ageVal)) && (ageVal<18)) {
          $('#status-area').flash_message({
            text: 'Sorry, you have to be 18+',
            how: 'append'
          });
        } else if ((ageVal) && !($.isNumeric(ageVal))) {
          $('#status-area').flash_message({
            text: 'Please enter a number for age',
            how: 'append'
          });
        } else {
          $('#status-area').flash_message({
            text: 'Please enter your age to continue',
            how: 'append'
          });
        }
        break
      case 5:
        $("#footerBtn").html('I agree: contact me');

        $("#footerBtnSec").html('I disagree: donate moles anonymously');
        $("#footerBtnSec").transition('fade', '500ms');
        footerBtnSecHidden = false;

        nextPrev(1)
        break
      case 6:
        $("#footerBtn").html('donate moles!');
        $("#contact_research").prop('checked', true);
        
        $("#footerBtnSec").transition('fade', '500ms');
        footerBtnSecHidden = true;

        nextPrev(1)
        break
      case 7:
        $('.ui.form').submit();
        $("#footerBtn").html('return home');
        nextPrev(1)
        break
      case 8:
        window.location.href = "{{ url_for('main.index') }}";
        break
    }
  }

  function prepTab(n) {
    $(".moletab."+n)
      .transition('horizontal flip', '500ms')
      .delay(1000)
    ;
    fixStepIndicator(n)
  }

  function showTab(n) {
    // This function will display the specified tab of the form ...
    $(".moletab."+n)
      .delay(2000)
      .transition('horizontal flip', '500ms')
    ;
    if (n == 2) $("#donateRoot")
      .transition('horizontal flip', '100ms')
    ;
    fixStepIndicator(n)
  }

  function nextPrev(n) {
    // This function will figure out which tab to display
    var x = document.getElementsByClassName("moletab");

    $(".moletab."+currentTab)
      .transition('horizontal flip')
    ;
    
    currentTab = currentTab + n;

    if (currentTab >= x.length) {
      return false;
    }

    showTab(currentTab);
  }

  function fixStepIndicator(n) {
    var i, x = document.getElementsByClassName("step");
    for (i = 0; i < x.length; i++) {
      x[i].className = x[i].className.replace(" active", "");
    }

    for (i = 0; i < n; i++) {
      x[i].className += " active";
    }
  }
</script>

<script>
    function previewImg(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function(e) {
          $('#imgpreview').attr('src', e.target.result);
        }
        
        reader.readAsDataURL(input.files[0]);
      }
    }
    
    $("#image").change(function() {
      previewImg(this);
    });
</script>
<script src="{{ url_for('static', filename='donate/donate_bundle.js') }}"></script>
{% endblock %}
