{% extends 'layouts/base.html' %}

{% block content %}
  <div class="Site-content ui text container">
      <h2>get started</h2>

      <p>donate a mole is a citizen science project to improve early detection of melanoma.</p>

          <p>The incidence rates of melanoma in Australia is 12 times the global average, and it is the most common cancer in Australians aged 18 to 39 years.</p>
          
        <p>Melanomas can occur anywhere on the body, help us find the hotspots.</p>

      <a href="{{ url_for('main.donate') }}">
        <div class="ui primary fluid button">donate a mole</div>
      </a>
      <footer style="text-align:center;margin-top:40px;margin-bottom:10px;">
          <a href="{{ url_for('main.about') }}">
              <div style="display:block;" id="footerBtnSec" class="ui primary fluid button dam secondary">about us</div>
            </a>
            <a href="{{ url_for('main.privacy') }}">
                <div id="footerBtnS" class="ui primary fluid button dam secondary">privacy policy</div>
              </a>
              <br></br>
              <p>This app is for research purposes only. It does not provide medical advice. If you have any concerns about your moles or any health issue please consult your general practitioner or other healthcare professional.</p>
        </footer>
        
      </a>
    </div>
{% endblock %}
