@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 40px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
table.selectable tr:hover {
  cursor: pointer !important;
}

.mole.preview {
  width: 80px;
}

.moletab {
  display: none;
  position: absolute;
  width: 100%;
}

.moletab.bodyTab {
  position: relative;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  background-color: #008ba3;
}

.step.finish {
  background-color: #008ba3;
}

.locator {
  width: 150px;
  margin: auto;
}

.locatorImage {
  width: 150px !important;
  margin: auto;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

#imgpreview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  text-align: center;
  max-width: 300px;
}

.bodyori {
  display: inline !important;
  margin-top: 340px !important;
  z-index: 100;
}

.locDiv {
  display: inline !important;
  z-index: -1;
  width: 150px;
}

#donateRoot {
  display: none;
}

#body_location {
  display: none;
}

#body_image {
  display: none;
}

#geo_long {
  display: none;
}

#geo_lat {
  display: none;
}

.ui.inverted.menu.damheader {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 60px;

  /* Blue Gradient */
  background: linear-gradient(180deg, #006CD4 0%, #4799E9 100%);
}

.ui.item.damnav {
  margin: auto;
  margin-top: 16px;
  height: 30px;


  font-family: 'Fredoka One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  /* White */
  background: 0 0 !important;
}

.Site-content.ui.text.container {
  margin-top: 20px;
}

h2 {
  /* H1 */
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;

  /* Blue Primary */
  color: #006CD4;
}

#image {
  position: relative;
  top: -100px;
}

.hiddenfile {
  width: 0px;
  height: 0px;
  overflow: hidden;
 }

 #footerBtnSec {
   display: none;
   margin-bottom: 16px;
 }